body {
  background-color: #f7fbff;
  background-image: url(./assets/grid-noise.png);
}
.rounded-3 {
  border-radius: 15% !important;
}
.cropSqr {
  background: 50% 50% no-repeat; /* 50% 50% centers image in div */
  width: 250px;
  height: 250px;
}
